.film-list {
  padding: 0;
}

.film-list li {
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
  margin-top: 10px;
}

.film-list li div {
  margin-top: 10px;
}

.film-list li div img {
  margin-top: 10px;
}
